extends layout

block content
  md-content(ng-controller="LoginCtrl", layout="row", layout-align="space-around", layout-padding="layout-padding", ng-cloak="ng-cloak", class="login-form")

    md-card(flex="flex", flex-gt-sm="50", flex-gt-md="33", ng-hide="showAdmin")
      md-toolbar
        .md-toolbar-tools
            h2
              span Login Form
      md-card-content
        form
          md-input-container(class="md-block")
            label Your Name
            input(type="text", name="username", ng-model="username" required)





      form
        input(type="radio", name="isNewUser", ng-model="isNewUser", value="false")
        |  Existing User
        input(type="radio", name="isNewUser", ng-model="isNewUser", value="true")
        |  New User <br />
        input(type="text", name="username", ng-model="username")
        button(ng-click="login()") Log-In
      .adminLogin
        a(ng-click="showAdmin = !showAdmin") Click here for admin login
    .adminLogin(ng-show="showAdmin")
      form(action="/login", method="post")
        input(type="hidden", name="username", value="admin")
        input(type="password", name="password", ng-model="password")
        button(type="submit") Sign-In
      .mainLogin
        a(ng-click="showAdmin = !showAdmin") Back to main login
    .loginError(ng-show="showError")
      p {{errorMessage}}
