.MainContainer{
	background: url("../images/bg4.jpg") no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

md-content{
  background-color: transparent;
}

body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.switchLogin {
  text-align: center;
}

.switchLogin a {
  position: absolute;
  margin-top: 1em;
  margin-left: 2em;
  color: #e1e1e1;
  font-weight: bold;
  text-decoration: underline;
}

#logout {
  position: absolute;
  right: 60px;
  padding: 13px;
}

.loginPanel {
  margin-bottom: 20px;
}

.report{
  background-color: white;
}
